<form action="<%= url %>" method="post">
  <label for="nome">Nome:</label>
  <input type="text" class="form-control" id="nome" name="nome" value="<%= usuario.nome %>"><br>
  <label for="login">Login:</label>
  <input type="text" class="form-control" id="login" name="login"  value="<%= usuario.login %>"><br>
  <label for="senha">Senha:</label>
  <input type="password" class="form-control" id="senha" required name="senha">
  <% if(erro !== ""){ %>
    <br>
    <div class="alert alert-danger"><%= erro %></div>
  <% } %>
  <br><br>
  <input type="submit" class="btn btn-primary" value="Enviar">
</form> 